<script src = "src/ast.js"></script>
<script src = "src/htmlpp.js"></script>
<script>
var x = htmlpp.compile("./example2.htmlpp");
document.write(x.compile());
x.update();
window.setInterval(function(){ x.update()}, 1000);

function processForm(e){
    var name = document.forms["grocery-form"]["name"].value;
    var price = parseFloat(document.forms["grocery-form"]["price"].value);
    ctx.groceries.push({name:name, price:price});
    return false;
}
</script>
