<script src = "../src/ast.js"></script>
<script src = "../src/htmlpp.js"></script>
<script>
var x = htmlpp.compile("./index.htmlpp");
document.write(x.compile());
x.update();
window.setInterval(function(){ x.update()}, 1000);
</script>
